# requirements.txt
streamlit==1.32.0
pandas==2.1.4
numpy==1.26.3
plotly==5.19.0
scikit-learn==1.4.0
shap==0.44.0
matplotlib==3.8.2
seaborn==0.13.1
openpyxl==3.1.2
statsmodels==0.14.1
wordcloud==1.9.3
nltk==3.8.1
kaggle==1.5.16
xgboost==2.0.3
lightgbm==4.1.0